* {
  box-sizing: border-box;
}

body {
  font-family: arial;
  margin: 25px;
}

h1 {
  font-weight: bold;
  color: pink;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 1500px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  background: #c6d934;
  background-image: -webkit-linear-gradient(top, #c6d934, #2980b9);
  background-image: -moz-linear-gradient(top, #c6d934, #2980b9);
  background-image: -ms-linear-gradient(top, #c6d934, #2980b9);
  background-image: -o-linear-gradient(top, #c6d934, #2980b9);
  background-image: linear-gradient(to bottom, #c6d934, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 0px 1px 7px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 27px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background-color: blue;
}

button:active {
  box-shadow: none;
}

.label {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.label:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.label:after {
    content: "";
    clear: both;
    display: table;
}

